page-type {

.ion-content{
    background-color: #ADD8E6;
}

  .list{
      margin: $my-padding;
    }

    

    .odd{
        background-color: #ccd2dc;
    }

    .even{
     background-color: #dae7ff;
      //background-color: #ccd2dc;
    }
}
