page-home {

  .info{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: $my-padding;

  }

  ion-card{
    height: 95%;
      box-shadow: 0px 0px 50px 7px rgba(104,179,230,1);
      border-radius: 15px;
  }

  .list-header{

    
    height:60px;
  }

}
